.Delete-board-button {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
}

.Delete-board-button:hover {
    transition: color border-color 0.2s;
    cursor: pointer;
    color: #1983aa;
    border-color: #1983aa;
}


