.Select {
  position: relative;
  display: block;
}

@media (min-width: 768px) {
  .Select {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .Select {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .Select {
    width: 30%;
  }
}

.Select-current {
  position: relative;
  cursor: pointer;
  outline: none;
}

.Select-current:focus + .Select-list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.Select-current:focus + .Select-list .Select-option {
  cursor: pointer;
}

.Select-current:focus .Select-icon {
  transform: translateY(-50%) rotate(180deg);
}

.Select-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 20px;
  opacity: 0.3;
  transition: 0.2s ease;
}

.Select-value {
  display: flex;
}

.Select-input {
  display: none;
}

.Select-input:checked + .Select-input-text {
  display: block;
}

.Select-input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #fff;
}

.Select-list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
}

.Select-option {
  display: block;
  padding: 15px;
  background-color: #fff;
}

.Select-option:hover, .Select-option:focus {
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}