.Select {
  margin-right: 7px;
  position: relative;
  display: block;
  color: white;
}

@media (min-width: 768px) {
  .Select {
    width: 70%;
  }
}

@media (min-width: 992px) {
  .Select {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .Select {
    width: 30%;
  }
}

.Select-current {
  position: relative;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
}

.Select-current:focus + .Select-list {
  opacity: 1;
  -webkit-animation-name: none;
          animation-name: none;
}

.Select-current:focus + .Select-list .Select-option {
  cursor: pointer;
}

.Select-current:focus .Select-icon {
  transform: translateY(-50%) rotate(180deg);
}

.Select-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  width: 20px;
  transition: 0.2s ease;
}

.Select-icon:hover {
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(190deg) brightness(119%) contrast(119%);
  transition: 0.4s;
}

.Select-value {
  display: flex;
}

.Select-input {
  display: none;
}

.Select-input:checked + .Select-input-text {
  display: block;
}

.Select-input-text {
  display: none;
  width: 100%;
  margin: 0;
  border-radius: 6px;
  padding: 1em;
  border: solid white;
  border-radius: 5px;
}

.Select-input-text:hover {
  color: #1983aa;
  transition: 0.4s;
  border: #1983aa solid 2px; 
}

.Select-list {
  color: white;
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  opacity: 0;
  -webkit-animation-name: HideList;
          animation-name: HideList;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
}

.Select-option {
  display: block;
  padding: 15px;
  background-color: #272a2e;
}

.Select-option:hover, .Select-option:focus {
  transition: color background-color ease-in-out .2s;
  color: #546c84;
  background-color: #fbfbfb;
}

@-webkit-keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}