.team_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  color: whitesmoke;
}
.team_title {
  font-size: 2rem;
}

.team_string {
  display: flex;
  flex-direction: row;
}

.team_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  align-items: center;
  list-style: none;
  border: whitesmoke solid 2px;
  border-radius: 6px;
  width: 15vw;
  margin: 0 2em;
  padding: 1em;
  transition: 0.4s;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  font-size: 1rem;
}

.team_list:hover{
  border: #1983aa 2px solid;
  transition: 0.4s;
  color: #1983aa;
}

.team_list:hover .team_ava{
  background-color: #1983aa;
}

.team_ava {
  width: 5em;
  height: 5em;
  border-radius: 3em;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: whitesmoke;
  background-image: url('./github.svg');
  transition: 0.4s;
}

@media (max-width: 680px){
  .team_list{
    font-size: 0.8rem;
  }
}

@media (max-width: 448px){
  .team_list{
    font-size: 0.55rem;
  }
}
