.header{
  width: 80vw;
  margin: 0 auto;
  height: 10vh;
  border-bottom: whitesmoke solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.scrolled {
  background-color: rgb(0, 0, 0);
}

.header_nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_link{
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  margin: 0 1em;
  border: whitesmoke solid 2px;
  border-radius: 6px;
  padding: 0.7em;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1rem;
}
.header_logout{
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  margin: 0 1em;
  border: whitesmoke solid 2px;
  border-radius: 6px;
  padding: 0.7em;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
}
.header_logout:hover {
  color: #2d8bf0;
  transition: 0.4s;
  border: #2d8bf0 solid 2px;
}

.header_link:hover {
  color: #2d8bf0;
  transition: 0.4s;
  border: #2d8bf0 solid 2px;
}

.active{
  color: #2d8bf0;
  border: #2d8bf0 solid 2px;
}

@media (max-width: 680px){
  .header_link, .header_logout{
    font-size: 0.8rem;
  }
}

@media (max-width: 448px){
  .header_link, .header_logout{
    font-size: 0.55rem;
  }
}
