.header{
  width: 80vw;
  margin: 0 auto;
  height: 10vh;
  border-bottom: whitesmoke solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.header_nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_link{
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  border: whitesmoke solid 2px;
  border-radius: 6px;
  padding: 1em;
  transition: 0.4s;
  cursor: pointer;
}

.header_link:hover {
  color: #1983aa;
  transition: 0.4s;
  border: #1983aasolid 2px;
}

.active{
  color: #1983aa;
  border: #1983aa solid 2px;
}
