.header{
  width: 80vw;
  margin: 0 auto;
  height: 10vh;
  border-bottom: whitesmoke solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header_link{
  width: 4vw;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
  margin: 0 1em;
  border: whitesmoke solid 2px;
  border-radius: 6px;
  padding: 1em;
  transition: 0.4s;
  cursor: pointer;
}

.header_link:hover {
  color: #2d8bf0;
  transition: 0.4s;
  border: #2d8bf0 solid 2px;
}

.active{
  color: #2d8bf0;
  border: #2d8bf0 solid 2px;
}
