.Logout-button {
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    border: whitesmoke solid 2px;
    border-radius: 6px;
    padding: 1em;
    transition: 0.4s;
    cursor: pointer;
    background-color: transparent;
  }
  
  .Logout-button:hover {
    color: #2d8bf0;
    transition: 0.4s;
    border: #2d8bf0 solid 2px;
  }


