.NotFound_page{
  color: rgba(245, 245, 245, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.NotFound_title{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0;
}

.NotFound_text{
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
}
