.Logout-modal {
    height: 100vh;
    display: flex;

    animation: animate ease-in-out .5s;
}

@keyframes animate {
    from { opacity: 0 }
    to { opacity: 1}
  }

.Logout-modal_default {
    width: 70%;
    height: 30%;
    background-color: #22252f;
    margin: auto auto;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .Logout-modal_default {
      width: 70%;
      height: 30%;
    }
}
  
@media (min-width: 992px) {
    .Logout-modal_default {
      width: 50%;
      height: 30%;
    }
}
  
@media (min-width: 1200px) {
    .Logout-modal_default {
      width: 30%;
      height: 30%;
    }
}

.Logout-modal-close {
    align-self: flex-end;
    margin: 5px;
    color: #1983aa;
    background-color: transparent;
}

.Logout-modal-close_default > button {
    border: none;
    color: #1983aa;
    background-color: transparent;
}

.Logout-modal-close_default > button:hover {
    transition: box-shadow 0.2s;
    cursor: pointer;
    box-shadow: #1983aa 0px 0px 2px
}

.Logout-modal-footer_default {
    display: flex;
    align-items: center;
    min-height: 30px;
    border-top: 1px solid #1983aa;
}

.Logout-modal-footer_button_default {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    color: white;
    width: 50%;
    background-color: transparent;
    height: 100%;
}

.Logout-modal-footer_button_default:first-child {
    border-right: 1px solid #1983aa;
}

.Logout-modal-footer_button_default:hover,
.Logout-modal-footer_button_default:focus {
    transition: box-shadow .5s ease-in-out;
    box-shadow: inset 0 0 0 2em #1983aa;
}
