.board-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
  border-radius: 10px;
  background-color: #1983aa;
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgb(0 0 0 / 20%) 0px 7px 8px -4px, rgb(0 0 0 / 14%) 0px 12px 17px 2px, rgb(0 0 0 / 12%) 0px 5px 22px 4px;
  overflow: hidden;
}

.board__title {
  color: red;
}

.board__owner {
  color: yellow;
}

.board__actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  margin-top: auto;
}

.board__edit-btn,
.board__remove-btn {
  /* color: violet; */
}
